services:
  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./app/backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://bmi_user:strongpassword@db:5432/bmidb
    depends_on:
      - db

  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_USER=bmi_user
      - POSTGRES_PASSWORD=strongpassword
      - POSTGRES_DB=bmidb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./app/database/setup-database.sh:/docker-entrypoint-initdb.d/setup.sh

volumes:
  postgres_data:
