apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault
data:
  vault.hcl: |
    ui = true

    listener "tcp" {
      address       = "0.0.0.0:8200"
      tls_disable   = 1
    }

    storage "file" {
      path = "/vault/data"
    }

    api_addr = "http://0.0.0.0:8200"
    cluster_addr = "https://0.0.0.0:8201"
    max_lease_ttl = "768h"
    default_lease_ttl = "768h"
